In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('testdata.csv')

In [3]:
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
x= df.iloc [:, : -1] 
y= df.iloc [:, -1 :]

In [5]:
x.dtypes

Position    object
Level        int64
dtype: object

In [6]:
y.dtypes

Salary    int64
dtype: object

In [7]:
x

            Position  Level
0   Business Analyst      1
1  Junior Consultant      2
2  Senior Consultant      3
3            Manager      4
4    Country Manager      5
5     Region Manager      6
6            Partner      7
7     Senior Partner      8
8            C-level      9
9                CEO     10

In [8]:
print(y)

    Salary
0    45000
1    50000
2    60000
3    80000
4   110000
5   150000
6   200000
7   300000
8   500000
9  1000000

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)

In [11]:
regressor.fit(x, y)

ValueError: could not convert string to float: 'Business Analyst'

In [ ]:
Y_pred = regressor.predict(np.array([6.5]).reshape(1, 1))

In [ ]:
X_grid = np.arrange(min(x), max(x), 0.01)

In [ ]:
X_grid = X_grid.reshape((len(X_grid), 1))

In [ ]:
plt.scatter(x, y, color = 'blue')

In [ ]:
plt.plot(X_grid, regressor.predict(X_grid),color = 'green')
plt.title('Random Forest Regression')
plt.xlabel('Position level')
plt.ylabel('Salary')
plt.show()